<body>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .Footer{
            height:25px;
            width:100%;
            display:flex;
            background-color:black;
            color:white;
            padding: 0rem;
            margin-bottom: 0%;
            position: relative;
            justify-content: center;
            bottom: 0;
            left:0
        
        }

        .Footer p{
            text-align: center;
        }

        .italianno-regular {
            font-family: "Italianno", cursive;
            font-weight: 600;
            font-style: normal;
            font-size: large;
            color: #caaf7a;
            text-align: center;
        }
    </style>
    <div class = 'Footer'>
        <p class="italianno-regular">&copy; 2024 by LuxGems</p>
    </div>
</body>