<body>
    <style>
        .Container{
            display:flex;
            flex :1;
            border-radius: 10px;

        }
      

        .SideBar .btn {
            display: block; /* Make buttons stack vertically */
            width: 150px ; 
            margin-bottom: 10px; /* Space between buttons */
            text-align: center; 
        }



        .SideBar {
            width: 250px;
            margin: 20px;
            background-color: #caaf7a;
            color: white;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 10px;

        }

        .SideBar a{
            text-decoration: none;
            color:inherit
        }
    </style>



<div class="Container">
    <div class='SideBar'>
        <a href="/admin/home"><button class="btn btn-dark">  Dashboard</button></a>
        <a href="/admin/Category"><button class="btn btn-dark"> Category</button></a>
        <a href="/admin/Products"><button class="btn btn-dark">Products</button></a>
        <a href="/admin/Customers"><button class="btn btn-dark">Customers</button></a>
        <a href="/admin/Orders"><button class="btn btn-dark">Order</button></a>
        <a href="/admin/Coupons"><button class="btn btn-dark">Coupons</button></a>
        <a href="/admin/Offers"><button class="btn btn-dark">Offers</button></a>
        <a href="/admin/Banner"><button class="btn btn-dark">Banner</button></a>
        <form action="/admin/logout" method="POST">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</div>    
</body>