
<body>
    <!-- Breadcrumbs -->
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/user/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">404 Not Found</li>
        </ol>
    </nav> -->
    <div class="conatiner">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">404 Not Found</li>
        </ol>
        <div style="text-align: center;">
        <!-- <img src="express.static(path.join(__dirname,'public'))/assets/404.jpg" alt="No image" class="img-fluid" style="max-height: 110vh; "> -->
        <img src="/public/assets/404iMAGE.jpg" alt="No image" class="img-fluid" style="max-height: 100vh;">
        </div>
    </div>
</body>