
<body>
    <div class="conatiner">
        <div style="text-align: center;">
        <img src="../public/assets/404.jpg" alt="No image" class="img-fluid" style="max-height: 110vh; ">
        </div>
    </div>
</body>