<head>
    <link rel="stylesheet" href="../../public/style.css">

</head>

<body>
    <style>
        .lbtn {
            width: 100%;
            /* Make the button take the full width of the form */
            height: 0;
            /* Start with height of 0 */
            padding: 4%;
            /* Set padding to maintain aspect ratio, making it square */
            font-size: 1rem;
            /* Adjust font size as needed */
            display: flex;
            /* Center the text horizontally and vertically */
            align-items: center;
            justify-content: center;
        }

        .italianno-regular {
            font-family: "Italianno", cursive;
            font-weight: 600;
            font-style: normal;
            font-size: large;
            color: black
        }
    </style>


    <section style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="../../public/assets/login.jpg" alt="login form" class="img-fluid"
                                    style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form action="/user/resetPassword" method="post">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-gem fa-2x me-3" style="color: #000000;"></i>
                                            <span class="h1 fw-bold mb-0">LuxGems</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Reset Your Password
                                        </h5>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" name="password" id="form2Example17"
                                                class="form-control form-control-lg" required />
                                            <label class="form-label">ENTER THE NEW PASSWORD</label>
                                        </div>



                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-lg btn-block lbtn" type="submit">Submit</button>
                                        </div>


                                        <!-- <p class="mb-5 pb-lg-2" style="color: #393f81;">Didn't Get OTP ? <a
                                                href="/user/OTPpage" style="color: #393f81;">RESEND OTP</a>

                                               | Back To SignUp ? <a
                                                href="/user/Sign-Up" style="color: #393f81;">Sign-Up</a>
                                            
                                            </p> -->

                                       

                                        <footer class="italianno-regular">© 2024 by LuxeGems</footer>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>