<div class=" Nav-Bottom">
    <ul>
        <% category.forEach((cat)=> { %>
            <li><a href="/product-category/<%= cat._id %>">
                    <%= cat.name %>
                </a></li>
            <% }) %>
                <li><a href="#">Rings</a></li>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">Giftings</a></li>
                <li><a href="#">Birth Stones</a></li>
    </ul>
</div>